.downloadPopup {
  width: 460px;
  height: fit-content;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  z-index: 500;
  right: 0px;
  top: 35px;
  padding: 16px;
}
.singleLayerDownload {
  width: 250px;
}

.subHeading {
  font-size: 14px;
  color: #44444f;
}
.subHeading span {
  color: #92929d;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #92929d;
}
.downloadBtn {
  font-size: 12px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Poppins";
padding: 9px 63px;
  background-color: #fff;
  border-color: #6729f3;
  color: #6729f3;
  border: 1px solid #6729f3;
  margin-left: 24px;
}

.hdBtn {
  color: #fff;
  background-color: #6729f3;
  margin-left: 0px;
}
.singleLayerDownloadBtn{
  width: 210px;
  padding: 9px 30px;
  margin-left: 0px;
}
.subText {
  color: #92929d;
  font-size: 12px;
  font-weight: 300;
}

.circleDot {
  width: 4px;
  height: 4px;
  border: 50%;
  background-color: #92929d;
}
