.panelItem {
  flex: none;
  transition: ease width 0.1s;
  overflow: hidden;
  width: 0;
}

.sideBarOpenItem{
    width: 300px;
}

@media screen and (min-width: 1220px) {

.panelItem{
    width: 0;
}
.sideBarOpenItem{
    width: 360px;
}
}