.uploadPreviewContainer {
  width: 280px;
  height: 200px;
  position: relative;
}

.uploadPreview {
  border-radius: 8px;
  width: 280px;
}
.uploadedImg {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 4px;
  top: 30px;
}
.mainBgUploadedImg {
  top: 40px;
  left: 80px;
}
.discardBtn {
  top: 25px;
  right: 10px;
}
.mainImgBgDiscard {
  top: 30px;
}

.removeBgBtn {
  width: 270px;
  height: 52px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  background: #6729f3;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-top: 6px;
}
.disabledBtn {
  background: #f1f1f5;
  color: #92929d;
  cursor: not-allowed;
}

.mainImgBg {
  margin: 20px 0px 0px 10px;
}
.mainImgBgBtn {
  margin-left: 10px;
}

.textToArtTrashIcon{
  right: 25px;
}
@media screen and (min-width: 1220px) {
  .uploadPreviewContainer {
    width: 320px;
    height: 200px;
  }
  .uploadPreview {
    width: 319px;
  }
  .discardBtn {
    top: 15px;
    right: 12px;
  }

  .mainImgBgDiscard {
    top: 15px;
    right: 40px;
  }
  .removeBgBtn {
    width: 319px;
    margin-top: 20px;
  }
  .mainBgUploadedImg {
    left: 110px;
  }

  .mainImgBg {
    margin: 20px 0px 0px 20px;
  }
  .mainImgBgBtn {
    margin-left: 20px;
  }
  

.textToArtTrashIcon{
  right: 30px;

}

}