.resizeCanvasContainer {
  height: fit-content;
  width: 438px;
  background-color: #fff;
  border: 1px solid #f1f1f5;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  z-index: 500;
  top: 48px;
  right: 0px;
}

.chevronTopIcon {
  rotate: -90deg;
  top: -60px;
  left: 114px;
}

.subSection {
  margin: 4px 16px;
  margin-top: 8px !important;
}
.subHeading {
  color: #44444f;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 14px;
}

.horizontalLine {
  border: 1px solid #f1f1f5;
  width: 90%;
  margin-top: 8px;
  margin-left: 20px;
}
.oddOption {
  /* margin: 10px 32px; */
  min-width: 100px;
}
.contentWrap {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-left: 2px; */
  gap: 7px;
  height: 270px;
  overflow-y: scroll;
  padding-bottom: 2px;
}

.contentWrap::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

.contentWrap::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.08);
}

.contentWrap::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the track */
}

.evenOption {
  /* margin: 10px 0px; */
  width: 125px !important;
  height: 130px !important;
  overflow: hidden;
  border-radius: 3px;
  gap: 0px !important;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.addBorder {
  border: 2px solid #6729f3;
  border-radius: 3px;
  background-color: #f1f1f5;
}
.optionHeading {
  color: #44444f;
  font-size: 12px;
  font-weight: 400;
  font-family: "Rubik";
  line-height: 16px;
}
.optionSubHeading {
  font-size: 11px;
  color: #92929d;
}

.resizeBtn {
  width: 90%;
  margin: 20px auto;
  height: 38px;
  color: "#92929D";
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #f1f1f5;
  border-radius: 10px;
}
.isEnabledBtn {
  color: #ffffff;
  background-color: #6729f3;
}
