.panelListSection {
  width: 100% !important;
  height: 100%;
  overflow-x: visible;
  background-color: white;
  padding: 0rem 20px 0px 20px;
}
.skeletonLoader {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 35px;
}

.userInfoSke {
  flex-grow: 1;
}

/* Animation
@keyframes skeletonAnimation {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.8;
  }
}

.skeletonLoader div {
  animation: skeletonAnimation 1s infinite;
} */
.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 35px;
}
.basePanelBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid #d6dce4;
  border-radius: 100px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  width: 100%;
  height: 44px;
  background: transparent;
  border: 1px solid #d6dce4;
}
.basePanelBtn:hover {
  border: 1px solid #d6dce4;
}

.panelListContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.AllToolsTreeSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.ToolsTreeSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  /* overflow-y: scroll; */
}

.AllToolsTreeSection::-webkit-scrollbar {
  width: 0px;
}

.AllToolsTreeSection::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.08);
}

.AllToolsTreeSection::-webkit-scrollbar-track {
  background-color: transparent;
}
.AiToolTree {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 1rem;
  height: 555px;
}
.headerProfile {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.roundDP {
  position: relative;
  width: 40px;
  height: 40px;
}

.roundProfileDP {
  position: relative;
}
.roundDP :nth-child(1) {
  border-radius: 50%;
}

.roundDP:hover {
  cursor: pointer;
}

.roundProfileDP :nth-child(1) {
  border-radius: 50%;
}

.roundProfileDP:hover {
  cursor: pointer;
}
.userInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.userName {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}
.userPlan {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(110, 110, 110, 1);
}

.panelListItem {
  /* padding: 16px 15px; */
  background-color: #fff;
  font-family: "Poppins";
  font-size: "0.8rem";
  user-select: none;
  transition: all 0.5s;
  gap: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 5px 0px;
}
.lineBorder {
  margin: 0.7rem 0px;
  border: 1px solid rgba(227, 227, 238, 1);
}

.siderbarTopSection {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 58.5px;
  border-bottom: 1px solid #d6dce4;
  /* box-shadow: inset 0px -1px 0px #e2e2ea; */
}

.siderbarFooterSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.panelItemSection {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.10000000149011612px;
}
.panelItemSectionContainer {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  height: 48px;
  border-radius: 7px;
  padding: 13px 20px 13px 13px;
}
.hoveredTool {
  background-color: rgba(103, 41, 243, 0.07);
}
.activeTool {
  font-weight: 500;
  color: rgba(103, 41, 243, 1);
}
.panelListItem:hover {
  cursor: pointer;
  transition: all 1s;
}

.panelListItemEach {
  font-weight: 500;
  color: #92929d;
  width: 100% !important;
  display: flex;
  justify-content: start;
}
.activePanelItem {
  font-weight: 500;
  color: #000;
}

@media screen and (min-width: 1220px) {
  .panelListSection {
    width: 100px;
  }
  .panelListItemEach {
    width: 90px;
    font-weight: 500;
  }
}

.chevronIcon {
  position: absolute;
  z-index: 100;
  bottom: -20px;
  left: 63px;
  transform: translateX(42px);
}

.panelCategoriesName {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: rgba(68, 68, 79, 1);
  letter-spacing: 0.10000000149011612px;
  margin-bottom: 12px;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
