.errorMsgSectionSize {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  padding: 0.8rem 0.5rem;
  margin: 0rem 1.7rem;
  background: #f8d7da;
  border: 1px solid #f5c2c7;
  border-radius: 4px;
  opacity: 1;
  transition: all 1s;
  -wenkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
}

.errorMsgSectionSize p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #842029;
}
