.errorMsgSectionSize{
display: flex;
flex-direction: row;
align-items: center;
gap: 6px;
padding: 15px 6px;
width:323px;
background: #F8D7DA;
border: 1px solid #F5C2C7;
border-radius: 4px;
margin-top: -5px;
}

.errorMsgSectionSize >p{
  display: flex;
  align-items: center;
  font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
color: #842029;
width: 279px;
height: 38px;
flex: none;
order: 1;
flex-grow: 0;
}
