.dropFileSection {
  padding-top: 20px;
}
.uploadInputWrapper {
  padding: 0px 8px;
}

.uploadPreviewSection {
  margin-top: 0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

.uploadInput {
  display: none;
}
.panelHeading{
    font-weight: 600;
    font-size: 16px;
}

.uploadInputContainer {
  width: 280px;
  height: 200px;
  position: relative;
}
.loadingSpinner{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50px;

}
.uploadInputSection {
  border-radius: 8px;
  margin: 0px auto 8px;
  width: 280px;
}

@media screen and (min-width: 1220px) {
  .panelHeading {
    padding: 0px 0px 0px 16px;
  }
  .uploadInputSection {
    width: 319px;
    margin: 14px auto 26px;
  }
  .uploadInputContainer {
    width: 320px;
    height: 200px;
  }
  .uploadInputWrapper {
    padding: 0px 24px;
  }
}
