.subHeadingText {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #696974;
    margin-top: 4px;
  }
  
.editingBtn{
  background: transparent;
  cursor: pointer;
  margin-right: 12px;
}
.disabledBtn{
  cursor: not-allowed;
}