.artSubHeading {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #333b4f;
  margin-top: 1rem;
}
.inputFile {
  display: none;
}

.uploadInput {
  width: 275px;
  height: 48px;
  border: 1px solid #dddce7;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-top: 6px;
}

.uploadImgText {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #92929d;
  margin-left: 18px;
}

.circlePlusIcon {
  margin-right: 12px;
}

.bgUploadLoader {
  display: block;
  position: absolute;
  top: 0px;
  margin-left: 40px;
}

.uploadInputContainer {
  width: 275px;
  height: 170px;
  margin-bottom: 24px;
  position: relative;
}

.imageWeightSubHeading {
  margin: 24px 0px 6px;
}

.paraText {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #999999;
}

.sliderMark {
  width: 275px;
}
.sliderMark p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #999999;
  margin-top: 4px;
}
.rejectedFilesError {
  margin-left: -20px;
  position: relative;
  padding: 0px 20px;
  font-size: 12px !important;
}
@media screen and (min-width: 1220px) {
  .uploadInput {
    width: 316px;
  }

  .sliderMark {
    width: 300px;
  }
  .uploadInputContainer {
    width: 320px;
  }
  .bgUploadLoader {
    margin-left: 70px;
  }
}

.imageModal {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 22px;
}

.imageModalHeading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 106%;
  text-align: left;
  color: #000000;
  margin: 1.5rem;
  margin-right: auto;
}

.aspectRatio {
  margin-top: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30rem;
}

.aspectRatioHeading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #333b4f;
  margin-right: 1rem;
}

.addButton {
  padding: 0.75rem;
  width: 30rem;
  color: white;
  background: #6729f3;
  border-radius: 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 147%;
  text-align: center;
  color: #fafafb;
  margin-bottom: 1.5rem;
}

.imageAspectRatio {
  background-color: #333b4f;
  width: fit-content;
  padding: 0.3rem 0.6rem;
  border-radius: 25px;
  background: #333b4f;
  border: 1px solid #333b4f;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}

.shapes {
  margin: 2px 4px 4px 0px;
  border: 2px solid #fff;
  border-radius: 2px;
  height: 0.75rem;
  width: auto;
}
