.editor {
  height: 100%;
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background: #ecf0f1;
  flex: 1;
}
.two {
  display: flex;
  flex-direction: row;
}
.images {
  max-width: 300px !important;
}
.three {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.resize_list {
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}
.editor-canvas {
  flex: 1;
}

.resize_list li {
  margin: 4px 12px;
}
