.mainContextMenu {
  display: flex;
  flex-direction: row;
  position: relative;
}

.contextMenuSection {
  position: absolute;
  z-index: 129;
  width: 280px;
  background-color: #fff;
  border: 10px;
  box-shadow: 0.5px 2px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid #f1f1f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 28px 0px 17px 0px;

}
.eachMenu {
  display: flex;
  background-color: transparent;
  width: 280px;
  height: 32px;
  font-size: 14px;
  align-items: center;
  padding: 22px 0px 22px 28px;
  cursor: pointer;
}

.eachMenu:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.chevronTopIcon {
  margin-left: 90px;
  position: absolute;
  top: -10px;
  z-index: 5;
  right: -10px;
}

.rightIcon{
  transform: rotate(-180deg);
  margin:0px 20px 0px auto;
}
.disabledMenu {
  pointer-events: none;
  opacity: 0.4;
}

.disabledOption{
  opacity: 0.7;
  cursor: not-allowed;
}
