.basePanel {
  height: 70px;
  background: #fff;
  box-shadow: inset 0px -1px 0px #e2e2ea;
  padding: 15px 0px;
  border-left: 2px solid #e2e2ea;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.basePanelBtn {
  width: 120px;
  height: 38px;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  margin-left: 12px;
  color: #44444f;
  padding: 9px 15px;
  background-color: #f1f1f5;
}

.canvasOptions {
  margin: 10px 0.75rem;
}
