.tryImgHeading {
  padding: 0 12px;
  font-weight: 600;
  font-size: 16;
  margin-left: 10px;
  margin-top: 0px !important;
}
.sampleImgSection {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
}

.bgOptionsSection {
  margin: 0px 20px;
  border: 1px solid #f1f1f5;
  border-radius: 4px;
}

.tabSection {
  width: 50%;
  text-align: center;
  padding: 11px 0px;
  cursor: pointer;
  color: #696974;
  background-color: #fff;
}

.leftOption {
  border-radius: 4px 0px 0px 4px;
}

.rightOption {
  border-radius: 0px 4px 4px 0px;
}

.selectedBgChoice {
  color: #fff;
  background-color: #171725;
}

.bgOptionHeading {
  margin: 20px 0px 14px 0px;
  padding: 0px 20px;
}
.imageItemSection {
  background: #f8f8fb;
  border-radius: 8px;
  overflow: hidden;
}

.imageItem {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.006) 8.1%,
    rgba(0, 0, 0, 0.022) 15.5%,
    rgba(0, 0, 0, 0.047) 22.5%,
    rgba(0, 0, 0, 0.079) 29%,
    rgba(0, 0, 0, 0.117) 35.3%,
    rgba(0, 0, 0, 0.158) 41.2%,
    rgba(0, 0, 0, 0.203) 47.1%,
    rgba(0, 0, 0, 0.247) 52.9%,
    rgba(0, 0, 0, 0.292) 58.8%,
    rgba(0, 0, 0, 0.333) 64.7%,
    rgba(0, 0, 0, 0.371) 71%,
    rgba(0, 0, 0, 0.403) 77.5%,
    rgba(0, 0, 0, 0.428) 84.5%,
    rgba(0, 0, 0, 0.444) 91.9%,
    rgba(0, 0, 0, 0.45) 100%
  );
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  height: 100%;
  width: 100%;
}

.imageItem:hover {
  opacity: 1;
}
.imageItemSection::before:hover {
  opacity: 1;
}
.imagePreview {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  vertical-align: middle;
}

.uploadPreviewSection {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadInput {
  display: none;
}
.panelHeading {
  font-weight: 600;
  font-size: 16px;
}
@media screen and (min-width: 1220px) {
  .panelHeading {
    padding: 0px 0px 0px 16px;
  }
}

@media screen and (min-width: 1220px) {
  .uploadPreviewContainer {
    width: 320px;
    height: 200px;
  }
  .uploadPreview {
    width: 319px;
  }
  .discardBtn {
    top: 70px;
    right: 38px;
  }
  .removeBgBtn {
    width: 319px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1220px) {
  .tryImgHeading {
    padding: 0px 20px;
  }
}
