.DesignContainer {
  width: 100%;
  max-width: 1084px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.allFilesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.sectionToolsCon {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: 1rem;
  padding: 18px 20px 18px 20px;
}
.sectionTopCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionTopBtns {
  display: flex;
  gap: 16px;
}
.sectionfileBtn {
  height: 78px;
  width: 248px;
  /* padding: 25px 80.66px 25px 26px; */
  border-radius: 16px;
  gap: 14px;
  background-color: #f3f5f9;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #44444f;
  display: flex;
  align-items: center;
  padding: 0 26px;
  justify-content: space-between;
}
.fileBtnContent {
  display: flex;
  align-items: center;
  gap: 14px;
}
.cardMenuPopup {
  z-index: 2;
  position: absolute;
  top: 50px;
  right: 1rem;
  background-color: white;
  width: 216px;
  height: 188px;
  box-shadow: 0px 10px 30px 0px #00000040;
}
.cardMenuOption {
  display: flex;
  align-items: center;
  height: 48px;
  padding-left: 17px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #000000;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.menuOption:hover {
  background-color: #f2f2f2;
}
.sectionBtns {
  width: auto;
  height: 24px;
  border-radius: 8px;
  padding: 0px 8px 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #828282;
  background-color: transparent;
}
.sectionToolFolderHead {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}
.sectionToolHead {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  color: #000000;
}
.sectionCardWrap {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.folderContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.addFolderCon {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.addFolderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  color: #000000;
}
.addFolderBottom {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.addFolderInput {
  height: 48px;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  background: rgb(242, 242, 242);
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #44444f;
  display: flex;
  align-items: center;
  padding-left: 18px;
  outline: none;
}
.sortbtnPopup {
  width: 216px;
  height: 231px;
  padding: 19px 27px 26px 24px;
  border-radius: 8px;
  box-shadow: 0px 10px 30px 0px #00000040;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  z-index: 1;
  background-color: white;
  right: 8px;
  top: 35px;
}

.sortOptionSec {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.sortOptionCon {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sortOptionHead {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #828282;
}
.sortOption {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sortOption:hover {
  color: #6729f3;
}
