.hideShowObjectLayerText {
  width: 60px;
  height: 60px;
  background: #f1f1f5;
  border: 1px solid #92929d;
  border-radius: 4px;
  margin: 0px 8px;
  border: 1px solid #92929D;

}
.eachLayer {
  margin: 8px 10px 8px 14px;
}
.showObjectTextLayer {
  width: 50px;
  height: 50px;
  background: #f1f1f5;
  border: 1px solid #92929d;
  border-radius: 4px;

}
.bgImage {
  width: 60px;
  height: 60px;
  margin: 8px 10px 8px 6px;
  border-radius: 4px;
  color: #44444f;
  font-size: 14px;
}
.bgRemovedImg {
  border: 1px solid #92929d;
}

.bgCloseImage {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}
.threeDotsIcon {
  display: none;
  position: absolute;
  right: 16px;
  top: 12px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  height: 16px;
  width: 28px;
  padding: auto;
  z-index: 500;
}

.previewImg {
  margin: 8px 8px 8px 12px;
}

.eachLayerSection:hover .threeDotsIcon {
  display: block;
}
